.App {
  text-align: center;
  background-color: greenyellow;
}

.dashboard {
  font-size: larger;
  padding: 5px;
  margin: 20px;
  align-items: center;
}

.label {
  display: block;
  font-size: larger;
  color: black;
  padding: 5px;
}

.input {
  font-size: larger;
  padding: 5px;
  margin: 2px;
}

.submitButton {
  font-size: larger;
  padding: 5px;
  margin: 20px;
}